body {
  background-color: #ecedf1;
  font-family: 'Assistant', sans-serif;
  color: #041f5d;
}

//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.btn-navbar-right {
  margin-top: -11px !important;
  height: 72px;
  margin-bottom: -10px !important;
  margin-right: -18px !important;
  border-radius: 0;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #041f5d;

      &.active {
        font-weight: bold;
        color: #00257c !important;
      }
    }
  }
}

.btn-login {
    background-color: #071C4D;
    color: #fff;


    &:hover {
    background-color: #a1bdff;
    color: rgb(0, 7, 141);
    }
}

//header
header{
    padding: 180px 0 165px;
    margin-top: -75px;
    background-image: url('../img/bgnomads.jpg');
    background-size: cover;

    h1,p{
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display',
        serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 20px;

    }

    .btn-get-started {
        background-color: #e96d0e;
        color: #fff;

        &:hover {
            background-color: #ff9c51;
            color: rgb(211, 207, 202);
        }
    }
}

//statistik

.section-stats{
  margin-top: -50px;

  .stats-detail{
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
  
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    color: #041f5d;

  }

  p{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(48, 65, 163);
  }
}

//populer
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -250px;

  .section-popular-heading {
    margin-top: 160px;

    h2, p {
      color: #fff;
    }

    h2 {
      font-family: 'Playfair Display',
        serif;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

//popular-content
.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
      border-radius: 10px;
    
    }

    .travel-negara {
      font-size: 16px;
      color: #fff;
    }

    .travel-lokasi {
      font-size: 26px;
      color: #fff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #ff6f00;
        color: #fff;

        &:hover {
        background-color: #e79d65;
        color: #fff;
        }
      }
    }
  } 
}

//networks
.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: 'Playfair Display', 
    serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;

  }

  img {
    max-width: 100%;
  }
}

//testimonial
.section-testimonial-heading {
  background: linear-gradient(#fff 0%, 
  #f7f9ff 100%);
  padding: 50px;
  min-height: 506px;

  h2{
    font-family: "Playfair Display",
    serif;
    font-weight: bold;
    font-size: 40px;

  }

  p {
    font-size: 18px;

  }
}

.section-testimonials-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonials {
      font-size: 26px;
      text-align: center;
      color: #6e6e6e;
      font-weight: 200;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #6e6e6e;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-get-started {
    background-color: #ff892e;
    color: #fff;

    &:hover {
      background-color: #faba89;
      color: rgb(255, 136, 0);
    }
  }

  .btn-need-help {
    background-color: #F2F2F2;
    color: #C3C3C3;

    &:hover {
      background-color: #838383;
      color: #ffffff;
    }
  }
}

.section-footer {
  a {
    color: #071c4d;
  }
}

.section-details-header {
  min-height: 310px;
  background: #e2e2e2;
  margin-top: -70px;

}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;

  }

  .breadcrumb-item {
    &.active {
      font-weight: bold;
      color: #071C4D;
    }
    
  }

  .card-details {
    padding: 30px;
    border-radius: 11px;


    h1 {
      font-size: 26px;

    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 18px;
      color: #b1b1b1;
    }

    
  }

  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .features {
    margin-top: 20px;

    h3 {
      font-size: 18px;
      color: #071C4D;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;

    }

    .description {
      margin-left: 10px;
      overflow: hidden;
      float: left;
    }

    .features-image {
      width: 45px;
      height: 45px;
      float: left;
    }
  }

  .gallery{
    .xzoom-container {
      display: block;
      

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 10px;
      }

      .xactive{
        border: 4px solid #1abc9c;
        box-shadow: none;
      }
    }
  }

  .join-container {
    margin-top: -16px;
    
  }

  .btn-join-now {
    background-color: #ff892e;
    color: #fff;

    &:hover {
      background-color: #f8c299;
      color: rgb(255, 155, 41);
    }
  }
}

